<a href="https://colab.research.google.com/github/jazmin3107/tps-pii-colab/blob/main/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [ ]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

{
    "name": "Abud Laspiur, Lourdes Mariel",
    "section": "C",
    "dob": "05/12/2006"
} ,
{
    "name": "Amador, Luana Micaela",
    "section": "C",
    "dob": "09/12/2006"
} ,
{
    "name": "Anaquin, Leonardo Ezequiel",
    "section": "C",
    "dob": "06/09/2005"
} ,
{
    "name": "Araoz Sanchez, Lautaro Nahuel",
    "section": "C",
    "dob": "28/12/2005"
} ,
{
    "name": "Argañaraz, Agostina Abril",
    "section": "C",
    "dob": "11/10/2006"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrozo Vedia, Joaquin Nicolas",
    "section": "C",
    "dob": "15/04/2006"
} ,
{
    "name": "Bettinelli, Valentino",
    "section": "C",
    "dob": "12/07/2006"
} ,
{
    "name": "Bracamonte Martinez, Salvador",
    "section": "C",
    "dob": "02/11/2005"
} ,
{
    "name": "Colque Rivero, Ariana Zoe Del Valle",
    "section": "C",
    "dob": "27/12/2006"
} ,
{
    "name": "Diaz, Dulce Maitena",
    "section": "C",
    "dob": "11/12/2006"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Flores Cardozo, Agustina Tiara",
    "section": "C",
    "dob": "18/03/2006"
} ,
{
    "name": "Gallo, Octavio Ismael",
    "section": "C",
    "dob": "04/08/2006"
} ,
{
    "name": "Galvan, Lourdes Yamila",
    "section": "C",
    "dob": "19/08/2005"
} ,
{
    "name": "Giangreco, Vitto Tomasso",
    "section": "C",
    "dob": "21/03/2007"
} ,
{
    "name": "Grancara, Martina Luna",
    "section": "C",
    "dob": "15/12/2006"
} ,
{
    "name": "Guanca, Sara Elizabeth",
    "section": "C",
    "dob": "17/01/2007"
} ,
{
    "name": "Lopez, Victoria Constanza",
    "section": "C",
    "dob": "12/11/2007"
} ,
{
    "name": "Mamani Garrido, Rosario Agostina",
    "section": "C",
    "dob": "24/10/2006"
} ,
{
    "name": "Marinaro, Martin Ezequiel",
    "section": "C",
    "dob": "03/11/2006"
} ,
{
    "name": "Merluzzi Dagum, Ignacio",
    "section": "C",
    "dob": "22/12/2005"
} ,
{
    "name": "Messina, Martina",
    "section": "C",
    "dob": "13/07/2005"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rios, Lucia Magali",
    "section": "C",
    "dob": "22/09/2006"
} ,
{
    "name": "Sanchez Flores, Matías Agustín",
    "section": "C",
    "dob": "15/02/2007"
} ,
{
    "name": "Scarano, Renato Marcelo",
    "section": "C",
    "dob": "06/12/2006"
} ,
{
    "name": "Sierra, Lucas Mauricio",
    "section": "C",
    "dob": "03/04/2005"
} ,
{
    "name": "Tapia, Martin Gabriel",
    "section": "C",
    "dob": "30/05/2006"
} ,
{
    "name": "Vilte, Mia Antonella Alondra",
    "section": "C",
    "dob": "10/09/2005"
} ,
{
    "name": "Virgillito, Katya Milena",
    "section": "C",
    "dob": "19/06/2007"
} ,
{
    "name": "Alurralde, Solange Stefania",
    "section": "D",
    "dob": "02/04/2007"
} ,
{
    "name": "Alvarado, Ludmila Del Milagro",
    "section": "D",
    "dob": "06/09/2006"
} ,
{
    "name": "Angel, Camila Juliana",
    "section": "D",
    "dob": "07/03/2007"
} ,
{
    "name": "Arenas, Lucas Gabriel",
    "section": "D",
    "dob": "26/06/2007"
} ,
{
    "name": "Caseres, Maria Antonia",
    "section": "D",
    "dob": "01/07/2006"
} ,
{
    "name": "Castillo, Paulina Milagros",
    "section": "D",
    "dob": "01/06/2007"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "D Elia, Alvaro Tadeo",
    "section": "D",
    "dob": "27/08/2006"
} ,
{
    "name": "Flores, Victoria Agustina",
    "section": "D",
    "dob": "12/12/2006"
} ,
{
    "name": "Geronimo Soriano, Lizzie Amaya",
    "section": "D",
    "dob": "20/01/2007"
} ,
{
    "name": "Guzman, Angélica Morena",
    "section": "D",
    "dob": "11/04/2007"
} ,
{
    "name": "Guzman, Jazmin Esmeralda Belen",
    "section": "D",
    "dob": "31/07/2006"
} ,
{
    "name": "Jaime, Anita Maria Belen",
    "section": "D",
    "dob": "19/04/2007"
} ,
{
    "name": "Lacour Polo, Nazarena",
    "section": "D",
    "dob": "19/12/2005"
} ,
{
    "name": "Lascano Guanca, Marcelo Fabricio",
    "section": "D",
    "dob": "17/02/2006"
} ,
{
    "name": "Lezcano, Celia Morena",
    "section": "D",
    "dob": "01/07/2005"
} ,
{
    "name": "Martinez, Tomas Andres",
    "section": "D",
    "dob": "22/03/2007"
} ,
{
    "name": "Portella Valdivia, Pedro Francisco",
    "section": "D",
    "dob": "24/01/2007"
} ,
{
    "name": "Retamal Cisneros, Zacarias Josue",
    "section": "D",
    "dob": "24/02/2007"
} ,
{
    "name": "Rosales, Francisco Gabriel",
    "section": "D",
    "dob": "14/11/2006"
} ,
{
    "name": "Salem Barba, Mahia",
    "section": "D",
    "dob": "14/10/2005"
} ,
{
    "name": "Soto Camara, Agustin Ignacio",
    "section": "D",
    "dob": "07/11/2005"
} ,
{
    "name": "Villalba, Irina",
    "section": "D",
    "dob": "09/09/2006"
} ,
{
    "name": "Voltolini, Emanuel Tobias",
    "section": "D",
    "dob": "17/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:
  -
  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])

  va a generar el siguiente diccionario:

  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [3]:
nombres_5c = set()
apellidos_5c = set()
nombres_5d = set()
apellidos_5d = set()
for estudiante in estudiantes:
    nombre_completo = estudiante["name"]
    apellidos, nombre = nombre_completo.split(",")
    apellidos = apellidos.split(" ")
    nombres = nombre.split()
    if estudiante["section"] == "C":
        for nombre in nombres:
            nombres_5c.add(nombre)
        for apellido in apellidos:
            apellidos_5c.add(apellido)
    else:
        for nombre in nombres:
            nombres_5d.add(nombre)
        for apellido in apellidos:
            apellidos_5d.add(apellido)

print(f"Nombres 5C: {nombres_5c}")
print(f"Apellidos 5C: {apellidos_5c}")
print(f"Nombres 5D: {nombres_5d}")
print(f"Apellidos 5D: {apellidos_5d}")

Nombres 5C: {'Leonardo', 'Santino', 'Micaela', 'Nicolas', 'Valentino', 'Rosario', 'Lucas', 'Mauricio', 'Mia', 'Martin', 'Lourdes', 'Matias', 'Josue', 'Martina', 'Milena', 'Valle', 'Del', 'Yamila', 'Alondra', 'Lautaro', 'Agustín', 'Katya', 'Ezequiel', 'Agustina', 'Ismael', 'Tiara', 'Victoria', 'Maitena', 'Karim', 'Constanza', 'Joaquin', 'Nahuel', 'Gabriel', 'Ignacio', 'Luana', 'Elizabeth', 'Luna', 'Mariel', 'Octavio', 'Zoe', 'Magali', 'Abril', 'Vitto', 'Lucia', 'Tomasso', 'Matías', 'Salvador', 'Antonella', 'Renato', 'Dulce', 'Ariana', 'Marcelo', 'Agostina', 'Sara'}
Apellidos 5C: {'Sanchez', 'Anaquin', 'Barrera', 'Marinaro', 'Giangreco', 'Flores', 'Virgillito', 'Guanca', 'Rivero', 'Galvan', 'Lopez', 'Barrozo', 'Martinez', 'Gallo', 'Laspiur', 'Figueroa', 'Dagum', 'Rios', 'Rasuk', 'Messina', 'Tapia', 'Bettinelli', 'Sierra', 'Grancara', 'Merluzzi', 'Vilte', 'Araoz', 'Vedia', 'Colque', 'Amador', 'Diaz', 'Bracamonte', 'Garrido', 'Scarano', 'Mamani', 'Cardozo', 'Argañaraz', 'Abud'}
Nombres 5D: {'Zacarias', 'Santino', 'Irina', 'Milagros', 'Lucas', 'Angélica', 'Solange', 'Tomas', 'Amaya', 'Esmeralda', 'Morena', 'Ludmila', 'Jazmin', 'Marcelo', 'Josue', 'Nazarena', 'Hugo', 'Agustin', 'Pedro', 'Fabricio', 'Del', 'Alvaro', 'Celia', 'Francisco', 'Lizzie', 'Victoria', 'Agustina', 'Belen', 'Gabriel', 'Milagro', 'Ignacio', 'Maria', 'Camila', 'Stefano', 'Antonia', 'Anita', 'Emanuel', 'Andres', 'Mariano', 'Paulina', 'Juliana', 'Tobias', 'Stefania', 'Tadeo', 'Mahia'}
Apellidos 5D: {'Camara', 'Voltolini', 'Polo', 'Alvarado', 'D', 'Flores', 'Valdivia', 'Geronimo', 'Lacour', 'Guanca', 'Jaime', 'Elia', 'Martinez', 'Lezcano', 'Salem', 'Soto', 'Castillo', 'Zalazar', 'Lascano', 'Portella', 'Angel', 'Soriano', 'Arenas', 'Barba', 'Caseres', 'Correa', 'Cisneros', 'Alurralde', 'Retamal', 'Rosales', 'Villalba', 'Segovia', 'Guzman'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [4]:
nombres_unicos_5c = nombres_5c.union(nombres_5c)
print("Cantidad de nombres únicos en 5C:")
print(f"cantidad: {len(nombres_unicos_5c)}, {nombres_unicos_5c}")

nombres_unicos_5d = nombres_5d.union(nombres_5d)
print("Cantidad de nombres únicos en 5D:")
print(f"cantidad: {len(nombres_unicos_5d)}, {nombres_unicos_5d}")

Cantidad de nombres únicos en 5C:
cantidad: 54, {'Leonardo', 'Santino', 'Micaela', 'Nicolas', 'Valentino', 'Rosario', 'Lucas', 'Mauricio', 'Mia', 'Martin', 'Lourdes', 'Matias', 'Josue', 'Martina', 'Milena', 'Valle', 'Del', 'Yamila', 'Alondra', 'Lautaro', 'Agustín', 'Katya', 'Ezequiel', 'Agustina', 'Ismael', 'Tiara', 'Victoria', 'Maitena', 'Karim', 'Constanza', 'Joaquin', 'Nahuel', 'Gabriel', 'Ignacio', 'Luana', 'Elizabeth', 'Luna', 'Mariel', 'Octavio', 'Zoe', 'Magali', 'Abril', 'Vitto', 'Lucia', 'Tomasso', 'Matías', 'Salvador', 'Antonella', 'Renato', 'Dulce', 'Ariana', 'Marcelo', 'Agostina', 'Sara'}
Cantidad de nombres únicos en 5D:
cantidad: 45, {'Zacarias', 'Santino', 'Irina', 'Milagros', 'Lucas', 'Angélica', 'Solange', 'Tomas', 'Amaya', 'Esmeralda', 'Morena', 'Ludmila', 'Jazmin', 'Marcelo', 'Josue', 'Nazarena', 'Hugo', 'Agustin', 'Pedro', 'Fabricio', 'Del', 'Alvaro', 'Celia', 'Francisco', 'Lizzie', 'Victoria', 'Agustina', 'Belen', 'Gabriel', 'Milagro', 'Ignacio', 'Maria', 'Camila', 'Stefano', 'Antonia', 'Anita', 'Emanuel', 'Andres', 'Mariano', 'Paulina', 'Juliana', 'Tobias', 'Stefania', 'Tadeo', 'Mahia'}

4. Muestra cuantos apellidos únicos hay en cada curso.

In [5]:
a_unicos_5c = apellidos_5c.union(apellidos_5c)
print("Cantidad de apellidos únicos en 5C:")
print(f"cantidad: {len(a_unicos_5c)}, {a_unicos_5c}")

a_unicos_5d = apellidos_5d.union(apellidos_5d)
print("Cantidad de apellidos únicos en 5D:")
print(f"cantidad: {len(a_unicos_5d)}, {a_unicos_5d}")

Cantidad de apellidos únicos en 5C:
cantidad: 38, {'Sanchez', 'Anaquin', 'Barrera', 'Marinaro', 'Giangreco', 'Flores', 'Virgillito', 'Guanca', 'Rivero', 'Galvan', 'Lopez', 'Barrozo', 'Martinez', 'Gallo', 'Laspiur', 'Figueroa', 'Dagum', 'Rios', 'Rasuk', 'Messina', 'Tapia', 'Bettinelli', 'Sierra', 'Grancara', 'Merluzzi', 'Vilte', 'Araoz', 'Vedia', 'Colque', 'Amador', 'Diaz', 'Bracamonte', 'Garrido', 'Scarano', 'Mamani', 'Cardozo', 'Argañaraz', 'Abud'}
Cantidad de apellidos únicos en 5D:
cantidad: 33, {'Camara', 'Voltolini', 'Polo', 'Alvarado', 'D', 'Flores', 'Valdivia', 'Geronimo', 'Lacour', 'Guanca', 'Jaime', 'Elia', 'Martinez', 'Lezcano', 'Salem', 'Soto', 'Castillo', 'Zalazar', 'Lascano', 'Portella', 'Angel', 'Soriano', 'Arenas', 'Barba', 'Caseres', 'Correa', 'Cisneros', 'Alurralde', 'Retamal', 'Rosales', 'Villalba', 'Segovia', 'Guzman'}

5. Mostrá los nombres que se aparecen em ambos cursos

In [6]:
nombres_en_ambos_cursos = nombres_5c.intersection(nombres_5d)
print(f"Los nombres que aparecen en ambos cursos son: {nombres_en_ambos_cursos}")

Los nombres que aparecen en ambos cursos son: {'Josue', 'Santino', 'Victoria', 'Agustina', 'Lucas', 'Gabriel', 'Del', 'Ignacio', 'Marcelo'}

6. Mostrá los apellidos que se aparecen en ambos cursos

In [7]:
apellidos_en_ambos_cursos = apellidos_5c.intersection(apellidos_5d)
print(f"Los apellidos que aparecen en ambos cursos son: {apellidos_en_ambos_cursos}")

Los apellidos que aparecen en ambos cursos son: {'Martinez', 'Flores', 'Guanca'}

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [8]:
nombres_solo_5c = nombres_5c.difference(nombres_5d)
print(f"Nombres de estudiantes de 5C que no existen en 5D: {nombres_solo_5c}")

nombres_solo_5d = nombres_5d.difference(nombres_5c)
print(f"Nombres de estudiantes de 5D que no existen en 5C: {nombres_solo_5d}")

Nombres de estudiantes de 5C que no existen en 5D: {'Leonardo', 'Micaela', 'Nicolas', 'Rosario', 'Valentino', 'Mauricio', 'Mia', 'Martin', 'Lourdes', 'Matias', 'Martina', 'Milena', 'Valle', 'Yamila', 'Alondra', 'Lautaro', 'Agustín', 'Katya', 'Ezequiel', 'Ismael', 'Tiara', 'Karim', 'Maitena', 'Constanza', 'Joaquin', 'Nahuel', 'Luana', 'Elizabeth', 'Luna', 'Mariel', 'Octavio', 'Zoe', 'Magali', 'Abril', 'Vitto', 'Lucia', 'Tomasso', 'Matías', 'Salvador', 'Antonella', 'Renato', 'Dulce', 'Ariana', 'Agostina', 'Sara'}
Nombres de estudiantes de 5D que no existen en 5C: {'Zacarias', 'Irina', 'Milagros', 'Angélica', 'Solange', 'Tomas', 'Amaya', 'Esmeralda', 'Morena', 'Ludmila', 'Jazmin', 'Nazarena', 'Hugo', 'Agustin', 'Pedro', 'Fabricio', 'Alvaro', 'Celia', 'Francisco', 'Lizzie', 'Belen', 'Milagro', 'Maria', 'Camila', 'Stefano', 'Antonia', 'Anita', 'Emanuel', 'Mariano', 'Paulina', 'Stefania', 'Juliana', 'Tobias', 'Andres', 'Tadeo', 'Mahia'}

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [9]:
apellidos_solo_5c = apellidos_5c.difference(apellidos_5d)
print(f"Apellidos de estudiantes de 5C que no existen en 5D: {apellidos_solo_5c}")

apellidos_solo_5d = apellidos_5d.difference(apellidos_5c)
print(f"Apellidos de estudiantes de 5D que no existen en 5C: {apellidos_solo_5d}")

Apellidos de estudiantes de 5C que no existen en 5D: {'Sanchez', 'Anaquin', 'Barrera', 'Marinaro', 'Giangreco', 'Virgillito', 'Rivero', 'Galvan', 'Lopez', 'Barrozo', 'Gallo', 'Laspiur', 'Figueroa', 'Dagum', 'Rios', 'Rasuk', 'Messina', 'Tapia', 'Bettinelli', 'Sierra', 'Grancara', 'Merluzzi', 'Vilte', 'Araoz', 'Vedia', 'Colque', 'Amador', 'Diaz', 'Bracamonte', 'Garrido', 'Scarano', 'Mamani', 'Cardozo', 'Argañaraz', 'Abud'}
Apellidos de estudiantes de 5D que no existen en 5C: {'Camara', 'Voltolini', 'Polo', 'Alvarado', 'D', 'Valdivia', 'Geronimo', 'Lacour', 'Jaime', 'Elia', 'Lezcano', 'Salem', 'Soto', 'Castillo', 'Zalazar', 'Lascano', 'Portella', 'Angel', 'Soriano', 'Arenas', 'Barba', 'Caseres', 'Correa', 'Cisneros', 'Alurralde', 'Retamal', 'Rosales', 'Villalba', 'Segovia', 'Guzman'}

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [10]:
nombres_en_ambos = nombres_5c.intersection(nombres_5d)
todos_los_nombres = nombres_5c.union(nombres_5d)
nombres_no_en_ambos = todos_los_nombres.difference(nombres_en_ambos)
print(f"Todos los nombres, menos los que existen en ambos cursos: {nombres_no_en_ambos}")

Todos los nombres, menos los que existen en ambos cursos: {'Leonardo', 'Zacarias', 'Micaela', 'Nicolas', 'Rosario', 'Mauricio', 'Milagros', 'Solange', 'Amaya', 'Martin', 'Lourdes', 'Nazarena', 'Milena', 'Pedro', 'Yamila', 'Celia', 'Lizzie', 'Lautaro', 'Agustín', 'Karim', 'Maitena', 'Constanza', 'Milagro', 'Luana', 'Maria', 'Mahia', 'Luna', 'Mariel', 'Octavio', 'Stefano', 'Anita', 'Zoe', 'Magali', 'Abril', 'Tomasso', 'Matías', 'Salvador', 'Antonella', 'Renato', 'Juliana', 'Tobias', 'Ariana', 'Andres', 'Stefania', 'Irina', 'Valentino', 'Mia', 'Angélica', 'Tomas', 'Esmeralda', 'Morena', 'Ludmila', 'Jazmin', 'Matias', 'Hugo', 'Martina', 'Agustin', 'Valle', 'Fabricio', 'Alvaro', 'Francisco', 'Alondra', 'Katya', 'Ezequiel', 'Ismael', 'Tiara', 'Belen', 'Joaquin', 'Nahuel', 'Elizabeth', 'Camila', 'Antonia', 'Emanuel', 'Tadeo', 'Vitto', 'Lucia', 'Mariano', 'Paulina', 'Dulce', 'Agostina', 'Sara'}

10. elimina tu nombre del conjunto al que pertenece

In [11]:
mi_nombre = 'Jazmin, Esmeralda Belen Guzman'
if mi_nombre in nombres_5c:
 nombres_5c.remove(mi_nombre)
print(f"Nombres de estudiantes de 5C: {nombres_5c}")

Nombres de estudiantes de 5C: {'Leonardo', 'Santino', 'Micaela', 'Nicolas', 'Valentino', 'Rosario', 'Lucas', 'Mauricio', 'Mia', 'Martin', 'Lourdes', 'Matias', 'Josue', 'Martina', 'Milena', 'Valle', 'Del', 'Yamila', 'Alondra', 'Lautaro', 'Agustín', 'Katya', 'Ezequiel', 'Agustina', 'Ismael', 'Tiara', 'Victoria', 'Maitena', 'Karim', 'Constanza', 'Joaquin', 'Nahuel', 'Gabriel', 'Ignacio', 'Luana', 'Elizabeth', 'Luna', 'Mariel', 'Octavio', 'Zoe', 'Magali', 'Abril', 'Vitto', 'Lucia', 'Tomasso', 'Matías', 'Salvador', 'Antonella', 'Renato', 'Dulce', 'Ariana', 'Marcelo', 'Agostina', 'Sara'}

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [12]:
n_usuario = input("Ingrese su nombre: ")
a_usuario = input("Ingrese su apellido: ")
nombres_5d.add(n_usuario)
apellidos_5d.add(a_usuario)
print(f"Nombres de estudiantes de 5D: {nombres_5d}")
print(f"Apellidos de estudiantes de 5D: {apellidos_5d}")

Ingrese su nombre: Jazmín, Esmeralda Belen
Ingrese su apellido: Guzmán
Nombres de estudiantes de 5D: {'Zacarias', 'Santino', 'Irina', 'Milagros', 'Lucas', 'Jazmín, Esmeralda Belen', 'Angélica', 'Solange', 'Tomas', 'Amaya', 'Esmeralda', 'Morena', 'Ludmila', 'Jazmin', 'Marcelo', 'Josue', 'Nazarena', 'Hugo', 'Agustin', 'Pedro', 'Fabricio', 'Del', 'Alvaro', 'Celia', 'Francisco', 'Lizzie', 'Victoria', 'Agustina', 'Belen', 'Gabriel', 'Milagro', 'Ignacio', 'Maria', 'Camila', 'Stefano', 'Antonia', 'Anita', 'Emanuel', 'Andres', 'Mariano', 'Paulina', 'Juliana', 'Tobias', 'Stefania', 'Tadeo', 'Mahia'}
Apellidos de estudiantes de 5D: {'Camara', 'Voltolini', 'Polo', 'Alvarado', 'D', 'Flores', 'Valdivia', 'Geronimo', 'Lacour', 'Guanca', 'Jaime', 'Elia', 'Martinez', 'Lezcano', 'Salem', 'Guzmán ', 'Soto', 'Castillo', 'Zalazar', 'Lascano', 'Portella', 'Angel', 'Soriano', 'Arenas', 'Barba', 'Caseres', 'Correa', 'Cisneros', 'Alurralde', 'Retamal', 'Rosales', 'Villalba', 'Segovia', 'Guzman'}

12. Solicita un nombre y verifica si este existe en el diccionario

In [13]:
nombre = input("Ingrese un nombre: ").title()
if nombre in nombres_5d:
    print(f"El nombre {nombre} existe en el diccionario.")
else:
    print(f"El nombre {nombre} no existe en el diccionario.")

Ingrese un nombre: Jazmin, Esmeralda Belen
El nombre Jazmin, Esmeralda Belen no existe en el diccionario.